.container p{
  text-align: center;
  margin-top: 67px;
}

.container [class*="col-"] .container{
  padding:5px;
  height:100%;
}

.container .container [class*="col-"] {
    height: 100%;
    background:rgb(75, 203, 141);
    border:1px white solid;
}




/* WARNING: soluzione alternativa */
/* .container [class*="col-"] .container{
  margin: 5px;
  height: calc(100% - 5px);
}


.container .container [class*="col-"]{
  height:calc(100% - 5px);
  background:rgb(75, 203, 141);
  border:1px white solid;
} */
